<div class="container-fluid">
  <div class="row">
    <div class="mx-auto">
      <p style="font-size: 24px">
        ようこそ！<br>
        『指導案ライブラリ』は、学習指導案を投稿・検索できるコミュニティサイトです。<br>
        授業づくりの参考に指導案を探したり、作成した指導案に対するフィードバックを得たりすることで、<br>
        授業の質を向上させるお手伝いをします。<br>
        共に学び、教育者として成長する場としてご活用ください。
      </p>
    </div>
  </div>
</div>